/* styles for tablet and larger */

/* todo: dropdown with css triangles */

.mobile-only
  display: none

.tablet-plus
  display: inline

body
  background-image: url(../img/brushed/brushed.png)
  background-repeat: repeat

#header-navigation
  position: relative
  text-align: center
  width: 100%
  display: block
  background-color: #bababa 
  padding: 14px 0
  ul
    position: relative
    position: relative
    margin-right: auto
    margin-left: auto
    list-style: none
    padding: 0
    margin: 0
    li
      float: left
      padding: 12px
      margin-left: 12px
      a
        text-decoration: none
    ul.children
      position: absolute
      display: none
    
#homepage #identity
  padding-bottom: 48px

#homepage #offering
  padding-top: 48px
  padding-bottom: 48px
  h2
    position: relative
    margin-right: auto
    margin-left: auto
    max-width: 800px
    font-size: 2.6rem
    font-weight: 300


/***********************/
/*   features          */
/***********************/

#features
  @include outer-container()
  .feature
    @include span-columns(4)



/***********************/
/*  page styles        */
/***********************/

#page-header
  margin-bottom: 28px
  
#page  .entry-content
  max-width: 900px


/*****************************************************/
/*        single                                     */
/*****************************************************/

.single-content
  @include span-columns(8)
  padding-left: 14px
  padding-right: 14px


/***********************/
/*  sidebar            */
/***********************/

#page-single .sidebar
  padding-left: 14px
  padding-right: 14px


/***********************/
/*   features          */
/***********************/

#blog-latest
  @include outer-container
  article
    padding-top: 28px
    padding-bottom: 28px

/***********************/
/*  product page       */
/***********************/

.product .product-title-header
  display: none

.product 
  .main-image-container
    position: relative
    float: left
    width: 50%
    text-align: center
  .summary
    float: left
    width: 50%