.group:after {
  content: "";
  display: table;
  clear: both;
}

.wrap {
    overflow: hidden ;
}

/* Sticky footer styles
-------------------------------------------------- */
html, body {
    height: 100% ;
}
body {
    display: table ;
    width: 100% ;
}

.page-row {
    display: table-row ;
    height: 1px ;
}

.page-row-expanded {
    height: 100% ;
}

.global-footer {
    background-color: #c8c8c8 ; 
}

/* ends Sticky footer styles
-------------------------------------------------- */