$visual-grid: true !default; // Display the base grid
$visual-grid-color: #ffefef !default;
$visual-grid-index: front !default; // Show grid behind content (back) or overlay it over the content (front)
$visual-grid-opacity: 0.2 !default;
$visual-grid-breakpoints: () !default;
